In [11]:
import os
import pandas as pd
from denari import NarcoAnalytics as narc

def process():

    path = os.getcwd()
    parent_folder = os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(path))))
    data_folder = os.path.join(parent_folder, "data/PT SalesFakeData_1")
    costs = pd.read_csv(data_folder + "/spending.csv", infer_datetime_format=True)
    pack = pd.read_csv(data_folder + "/packages.csv", infer_datetime_format=True)
    clients = pd.read_csv(data_folder + "/clients.csv", infer_datetime_format=True)
    sales = pd.read_csv(data_folder + "/calex.csv", infer_datetime_format=True)
    x = [costs,pack,sales]
    for i in x:
        narc.set_dates(i)

    s = sales.copy()
    c = costs.copy()

    s = narc.fill_dates(s)
    c = narc.fill_dates(c)

    c = narc.split_dates(c,format='period')
    s = narc.split_dates(s,format='period')

    processed_data = {'sales': s,
                      'costs': c,
                      }
    
    return processed_data

In [14]:
process()['sales']

,date,weekday,day,week,month,quarter,year,tax year,surname,name,product,payment,payment type
0,2022-01-04,1,4,1,2022-01,2022Q1,2022,2021/2022,A,S,single,60.0,cash
1,2022-01-04,1,4,1,2022-01,2022Q1,2022,2021/2022,N,S,five,287.5,bank
2,2022-01-04,1,4,1,2022-01,2022Q1,2022,2021/2022,B,D,twenty,900.0,bank
3,2022-01-05,2,5,1,2022-01,2022Q1,2022,2021/2022,NaN,NaN,NaN,NaN,NaN
4,2022-01-05,2,5,1,2022-01,2022Q1,2022,2021/2022,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,2022-12-22,3,22,51,2022-12,2022Q4,2022,2022/2023,NaN,NaN,NaN,NaN,NaN
1058,2022-12-22,3,22,51,2022-12,2022Q4,2022,2022/2023,NaN,NaN,NaN,NaN,NaN
1059,2022-12-23,4,23,51,2022-12,2022Q4,2022,2022/2023,E,K,five,287.5,bank
1060,2022-12-23,4,23,51,2022-12,2022Q4,2022,2022/2023,NaN,NaN,NaN,NaN,NaN
1061,2022-12-23,4,23,51,2022-12,2022Q4,2022,2022/2023,NaN,NaN,NaN,NaN,NaN